
  .intro {
    background: $apricot;
    padding: 70px 0 50px 0;
  }

  h3 {
    margin: 40px 0 0 0;
    letter-spacing: .75px
  }
  
  p {
    max-width: 550px;

    a {
      display: block;
    }
  }

  .credits {
    display: flex;
    justify-content: center;
    p {
      font-family: $secondaryFont;
      font-weight: 600;
      text-transform: uppercase;
      margin: 30px 10px 0 10px;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin: 20px 0;
  }

  .two-images {
    display: flex;
    justify-content: space-between;
    width: 80%;
    img {
      width: 49%;
    }
  }
