header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $neutral;
  z-index: 9999;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    font-size: 0.9rem;

      @media (max-width: 768px) {
        // justify-content: flex-start;
      }

      .logo {
        width:  42%;
        max-width: 350px;
        margin: 10px 0;

      @media (max-width: 768px) {
         margin: 20px auto 0 auto;
      }
        img {
          width: 100%;
        }
      }


  .concept-link-wrap {
    margin: 20px 0;
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

      @media (max-width: 768px) {
         width: 100%;
         justify-content: center;
      }

    .concept-links {
      font-family: $secondaryFont;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 20px;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 700;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 900px) {
        font-size: 12px;
      }

      &:hover, &:active, &:focus {
        color: $second;
      }
    }

  }
  }
}



