
$black: #000;
$white: #fff;

$neutral: #f5f5f8;

$main: #ef559c;
$second: #2c9dd6;
$third: #14d57c;
$fourth: #e680ad;
$fifth: #f36c2c;


@import url("https://use.typekit.net/dmk1wil.css");

$mainFont: soleil, sans-serif;
$secondaryFont: soleil, sans-serif;
$bodyFont: coranto-2, serif;
