

$deepBerry: #651c32;
$deepBerryLight: #743347;
$deepBerryLighter: #84495b;
$deepBerryLightest: #936070;

$matisse: #1d4f91;
$apricot: #f1cfb6;
$rose: #b57981;
$pearl: #ebece7;
$echoBlue: #a1b6cf;
$gold: #d5c39d;

$black: #222;
$white: #fff;

$neutral: #f2e5d5;

$main: #dd6743;
$second: #8eacc8;
$third: #959579;
$fourth: #c3a7d0;
$fifth: #efbb78;



$shortbread: #F1DAC0;
$rose: #F6D7DA;
$crimson: #C80816;
$forestGreen: #28503F;
$mulberry: #751B30;
$sapphire: #3983B3;
$honey: #DCB034;
$chiffon: #E6DCDD;





@import url("https://use.typekit.net/ndx3jwv.css");

@font-face {
  font-family: 'Toledo';
  src: url('../fonts/toledo-regular.eot');
  src: url('../fonts/toledo-regular.woff2') format('woff2'), url('../fonts/toledo-regular.woff') format('woff'), url('../fonts/toledo-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/toledo-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Glacial-Indifference';
    src:  url('../fonts/Glacial-Indifference-Regular.ttf.woff') format('woff'),
    url('../fonts/Glacial-Indifference-Regular.ttf.svg#Glacial-Indifference-Regular') format('svg'),
    url('../fonts/Glacial-Indifference-Regular.ttf.eot'),
    url('../fonts/Glacial-Indifference-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
}



$mainFont: 'Toledo', serif;
$secondaryFont: 'Glacial-Indifference', sans-serif;
$bodyFont: 'Glacial-Indifference', sans-serif;