
$black: #000;
$white: #fff;

$neutral: #f5f5f8;

$main: #ef559c;
$second: #2c9dd6;
$third: #14d57c;
$fourth: #e680ad;
$fifth: #f36c2c;


@import url("https://use.typekit.net/ndx3jwv.css");

@font-face {
  font-family: 'Toledo';
  src: url('../fonts/toledo-regular.eot');
  src: url('../fonts/toledo-regular.woff2') format('woff2'), url('../fonts/toledo-regular.woff') format('woff'), url('../fonts/toledo-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/toledo-regular.ttf') format('truetype');
}



$mainFont: 'Toledo', serif;
$secondaryFont: commuters-sans, sans-serif;
$bodyFont: sorts-mill-goudy, serif;